:root {
    --background: #ffffff;
    --primary-color: #0a2540;
    --foot: black;
    --normal: antiquewhite;
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/* Using the universal selector (*) to control the page layout. 
This is very important and must be in all your css file*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--body-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 10px;
    padding: 10px;
}

header {
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    background-color: black;
}

header img {
    display: block;
    margin: 0 auto;
}

header nav {
    font-size: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    /* The display was set to block and 
    width was set to 100% so that it can fill the entire div element.
    height was set to auto so that it will not affect the aspect ratio */
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 3px;
    text-align: center;
    opacity: 0.7;
    color: var(--background);

}

.hero article {
    position: absolute;
    bottom: 300px;
    background-color: antiquewhite;
    padding: 3px;
    opacity: 0.9;
}

.hero article img {
    width: 100px;
    float: right;
}

h2 {
    text-align: center;
    padding: 3px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

}

nav a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--background)
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    row-gap: 10px;
}

.history h2 {
    grid-column: 1/ span 3;
}

.history img {
    border-style: ridge;
    border-color: var(--normal);
    border-width: 6px;
    border-radius: 20px;
    margin-left: 40px;
}

aside {
    margin-top: 30px;
}

.image {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.image h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    grid-column: 1/ span7;
    margin-right: 220px;
}

.image figure img {
    width: 100%;
    border-style: ridge;
    border-radius: 20px;
    border-width: 5px;
    justify-content: space-between;
    margin-left: 10px;
}

.image figure figcaption {
    color: var(--primary-color);
    margin-top: 5px;
    margin-left: 30px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.socialmedia a {
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-columns: 5fr 5fr;
    margin-top: 60px;
    border-top: var(--primary-color);
    border-top-style: solid;
    background-color: var(--foot);
}

footer p {
    text-align: center;
    font-size: 18px;
    color: var(--background);
}