:root {
    --background: #ffffff;
    --primary-color: black;
    --foot: black;
    --normal: antiquewhite;
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
    --head-color: white;
    --new: rgb(96, 96, 54);
    --new-color: brown;
    --background-form: rgb(235, 232, 232);
    --body-font: Arial, Helvetica, sans-serif;
    --my-font: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    --another-font: Arial;
}

/* Using the universal selector (*) to control the page layout. 
This is very important and must be in all your css file*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--body-font);
    color: var(--foot);
}

nav,
p,
section,
article {
    margin: 10px;
    padding: 10px;
}

header {
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    background-color: black;
}

header img {
    display: block;
    margin: 0 auto;
}

header nav {
    font-size: 20px;
}

.hero {
    position: relative;
    margin: 0 auto;
    padding-bottom: 50px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    /* The display was set to block and 
    width was set to 100% so that it can fill the entire div element.
    height was set to auto so that it will not affect the aspect ratio */
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 3px;
    text-align: center;
    color: var(--head-color);
    font-family: var(--body-font);
    font-size: 50px;
}

.hero article{
    position: absolute;
    bottom: 300px;
    background-color: antiquewhite;
    padding: 3px;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(214, 224, 68);
}
.hero article h2{
    font-size: 16px;
    margin: -5px;
    font-style: var(--body-font);
    margin-left: 5px;
}

.hero article img {
    width: 100px;
    float: right;
}


.history h2 {
    text-align: center;
    padding: 3px;
    color: var(--primary-color);
    font-family: var(--body-font);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

}

nav a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--background)
}


.trip{
    text-align: center;
    padding: 15px;
    font-family: var(--body-font);
    font-weight: 700;
    font-size: large;
    background-color: var(--primary-color);
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.trip a{
    color: var(--background);
    text-decoration: none;
}

.trip a:hover{
    background-color: var(--new);
}

.history {
    margin: 0 auto;
    margin-top: 30px;
}

.history p{
    font-family: var(--body-font);
    font-size: 20px;
    background-color: antiquewhite;
    padding: 60px;
    word-spacing: 5px;
    line-height: 30px;
    color: grey;
    border-radius: 10px;
    box-shadow: 0 0 30px gray;
}


.history h2{
    font-size: 35px;
}


aside {
    margin-top: 30px;
}

.image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 15px;;
}

.image h2 {
    padding-bottom: 10px;
    grid-column: 1/ span 3;
    font-size: 30px;
    background-color: var(--normal);
    letter-spacing: 20px;
    text-align: center;
    padding: 3px;
    color: var(--primary-color);
    font-family: cursive;
}

.image figure img {
    width: 100%;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 70px rgb(128, 128, 128);
    justify-content: space-between;
}

.image figure figcaption {
    color: rgb(106, 26, 26);
    text-align: center;
    line-height: 25px;
    font-family: var(--body-font);
}

.fill-form {
    font-family: var(--body-font);
    position: relative;
}

.fill-form h2{
    position: absolute;
    font-size: 18px;
    margin-top: 70px;
    margin-left: 40px;
}

.fill-form button{
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--background);
    margin-left: 500px;
    margin-top: 15px;
}

fieldset{
    border: none;
    position: relative;
}

legend{
    padding-top: 25px;
    position: absolute;
    font-family: var(--another-font);
    padding-left: 8px;
}

.form-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 8px;
    gap: 10px;
    align-items: center;
}

label[for="email"], label[for="fullname"], label[for="phone"]{
    text-align: right;
} 

label[for="fullname"]{
    padding-right: 20px;
}

label[for="sub"]{
    text-align: left;
    margin-left: -80px;
}

input[type="checkbox"]{
    margin-right: -200px;
    height: 20px;
}

input[type="email"], input[type="text"], input[type="tel"]{
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    width:400px;
    border: 2px solid black;
}

.map button{
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--background);
    margin-left: 200px;
}

button:hover{
    cursor:pointer;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.socialmedia a {
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-columns: 5fr 5fr;
    margin-top: 40px;
    border-top: var(--primary-color);
    border-top-style: solid;
    background-color: var(--foot);
}

footer p {
    text-align: center;
    font-size: 18px;
    color: var(--background);
}

.now{
    text-align: center;
}

.now h1{
    padding-top: 0.5rem;
    font-family: var(--my-font);
}

.now article p{
    font-family: var(--my-font);
}

.pictures h2 {
    text-align: center;
    padding-right: 200px;
}

.map {
    display: flex;
    justify-content: space-evenly;
}

.fill-item {
    display: grid;
    font-family: var(--another-font);
    align-items: center;
    padding: 0.5rem;
    width: 600px;
}

.part1 {
    grid-template-columns: 1fr 2fr;
}

.part2{
    grid-template-columns: 5fr 6fr;
    gap: 6px;
    margin-right: 30px;
    margin-left: -30px;
}

.part3{
    grid-template-columns: 2fr 2fr;
    padding-bottom: 20px;
    margin-left: -160px;
}

.part3 input[type="checkbox"]{
    margin-left: -100px;
    height: 20px;
}

.part1 input[type="email"],
.part1 input[type="text"],
.part1 input[type="tel"],
.fill-item select[name="country"],
.part4 textarea[id="feedback"] {
    border-radius: 4px;
}

.part1 input[type="email"],
.part1 input[type="text"],
.part1 input[type="tel"] {
    height: 2rem;
    font-size: medium;
}

.part1 label[for="email"], .part1 label[for="fullname"], .part1 label[for="phone"]{
    margin-right: 7px;
}

.fill-item select[name="country"] {
    font-size: 1rem;
    height: 28px;
}

.part2 input[type="radio"] {
    margin-left: 200px;
}

.part4 textarea[id="feedback"] {
    height: 90px;
    font-size: 1.3em;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(4, 340px);
    column-gap: 60px;
    align-items: center;
    justify-content: space-between;
}

.pictures h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    grid-column: 1/ span7;
    margin-right: 220px;
}

.pictures figure img {
    width: 100%;
    box-shadow: 0 0 30px black;
    margin-left: 10px;
}

.pictures figure figcaption {
    color: var(--primary-color);
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
}


.adventure nav a{
    color: black;
    font-family: cursive;
    font-size: 1.3rem;
    background-color: var(--new);
    width: 150px;
    text-align: center;
    padding: 5px;
    color:var(--head-color);
    border-radius: 5px;
}

.adventure nav a:hover{
    color: greenyellow;
}

.adventure h1{
    text-align: center;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    margin-bottom: -10px;
}

.adventure p{
    text-align: center;
    padding:0;
    font-style: oblique;
}

.tripss{
    margin: 0 auto
}

.tripss h2{
    text-align: center;
    padding-top: 20px;
    font-family: cursive;
    font-size:2rem;
    letter-spacing: 40px;
}

.one{
    position: relative;
    padding-bottom: 3rem;
}

.one p{
    position:absolute;
    top: -5px;
    color: white;
    width: 480px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: cursive
}

.two{
    position:relative;
    padding-bottom: 3rem;
}

.two p{
    position:absolute;
    top: -5px;
    color: white;
    width: 450px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: cursive;
}

.three{
    position:relative;
    padding-bottom: 3rem;
}

.three p{
    position:absolute;
    top: -5px;
    color: white;
    width: 420px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: cursive;
}

.four{
    position:relative;
    padding-bottom: 3rem;
}

.four p{
    position:absolute;
    top: -5px;
    color: white;
    width: 390px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: cursive;
}

.one img, .two img, .three img, .four img{
    box-shadow: 0 0 40px grey;
}

.table h2{
    text-align: center;
}

table{
    border-collapse: collapse;
    border:2px black;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

th,td{
    border:2px solid black;
    padding: 8px 15px;
    text-align: center;
    font-weight: 520;
}

thead th{
    color: white;
    background-color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

td{
    background-color: rgb(224, 221, 221);
}

.table h2{
    font-size: 30px;
    font-family: cursive;
}