* {
    /* Always add this to your comment to control your page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 auto;
}

header,
footer {
    text-align: center;
    padding: 20px 0;
}

form {
    max-width: 600px;
    border: 2px solid #a29d9d;
    background-color: rgb(221, 217, 217);
    padding: 30px;
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea,
select {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid #a29d9d;
}

button {
    background-color: blue;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    margin: 0 auto;
}

button:hover {
    background-color: rgb(86, 86, 218);
    cursor: pointer;
}

form p {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: small;
}