

table{
    border-collapse: collapse;
    border:2px black;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0 auto;
}

th,td{
    border:1px solid black;
    padding: 8px 15px;
    text-align: center;
    font-weight: 520;
}

thead, tfoot{
    color: white;
    background-color: black;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

