.callout {
    max-width: 150px;
    margin: 10px 20px 15px 16px;
    border: 20px 15px 10px 5px;
    padding: 200px 25px 15px 10px;
    background-color: red;
    color: white;

}

.callout img {
    float: left;
    margin: 20px 10px 14px 5px;
    border: 18px 22px 12px 8px;
    padding: 15px 10px 5px 2px;
    background-color: black;
    width: 100px;
    height:auto;
	
}

blockquote {
    margin: 20px 15px 25px 10px;
}

cite {
	display: inline-block;
    border-top: 10px;
    padding-top: 20px;
    text-align: :right;
    font size: 16em;
}